.Intro{
    display: flex;
    height: 100vh;
}

.Intro-Left{
    flex: 1;
}

.Intro-Right{
    flex: 1;
}

.Intro-Left-Wrapper{
    padding: 50px;
}

.Intro-Intro{
    font-size:  30px;
    font-weight: 300;
}

.Intro-Name{
    font-size: 60px;
}

.Intro-Title{
    height: 50px;
    overflow: hidden;
}

.Intro-Title-Wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(-100px);
    }
}

.Intro-Title-Item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
}

