.Intro{
    display: flex;
    height: 100vh;
}

.Intro-Left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Intro-Right{
    flex: 1;
    position: relative;
}

.Intro-Left-Wrapper{
    padding: 50px;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Intro-Intro{
    font-size:  30px;
    font-weight: 300;
}

.Intro-Name{
    font-size: 60px;
}

.Intro-Title{
    height: 50px;
    overflow: hidden;
}

.Intro-Title-Wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    50%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(-200px);
    }
}

.Intro-Title-Item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
    display: flex;
    align-items: center;
}

.Intro-Image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.Intro-Image-Shape{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 23% 51%, 0% 0%);
    background-color: #59b256;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.Intro-Scroll-SVG{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
}

@media screen and (max-width: 480px){
    .Intro{
      flex-direction: column;
    }
  
    .Intro-Left-Wrapper{
      padding: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }
  
    .Intro-Description{
      display: none;
    }
    
}